h1{
    font-size: 30px;
    text-align: center;
    color: #005566
    }

    body{
        font-size: 16px;
        font-family: Helvetica, sans-serif;
        color: #FF3399;
        background-image: url(images/motif.png);
        }
